<div id="information">
    {{#each headphones as |headphone| }}
    <div class="card">
        <img src="{{headphone.photo}}" alt="">
        <div class="info">
            <h2>{{headphone.product_name}}</h2>
            <p id="description">{{headphone.description}}</p>
            <div class="bullet-points">
                <p>Rating: {{headphone.rating}}</p>
                <p>Comfort: {{headphone.comfort}}</p>
                <p>Sound Quality: {{headphone.sound_quality}}</p>
                <p>Price:<span> $</span>{{headphone.price}}</p>
                <button id="shop-btn">Shop</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>