<div id="information">
    {{#each keyboards as |keyboard|}}
    <div class="card">
        <img src="{{keyboard.photo}}" alt="">
        <div class="info">
            <h2>{{keyboard.product_name}}</h2>
            <p id="description">{{keyboard.description}}</p>
            <div class="bullet-points">
                <p>Rating: {{keyboard.rating}}</p>
                <p>Size: {{keyboard.size}}</p>
                <p>Switch Type: {{keyboard.switchType}}</p>
                <p>Price:<span> $</span>{{keyboard.price}}</p>
                <button id="shop-btn">Shop</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>