<div id="information">
    {{#each monitors as |monitor|}}
    <div class="card">
        <img src="{{monitor.photo}}" alt="">
        <div class="info">
            <h2>{{monitor.product_name}}</h2>
            <p id="description">{{monitor.description}}</p>
            <div class="bullet-points">
                <p>Rating: {{monitor.rating}}</p>
                <p>{{monitor.detail_1}}</p>
                <p>{{monitor.detail_2}}</p>
                <p>Price:<span> $</span>{{monitor.price}}</p>
                <a href="/shop/{{this.id}}">
                    <button id="shop-btn" type="button">Shop</button>
                </a>
                <form action="/create-checkout-session/{{this.id}}" method="POST">
                    <button type="submit" id="checkout-button">Checkout</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>