<div id="information">
    {{#each mouse as |mouse| }}
    <div class="card">
        <img src="{{mouse.photo}}" alt="">
        <div class="info">
            <h2>{{mouse.product_name}}</h2>
            <p id="description">{{mouse.description}}</p>
            <div class="bullet-points">
                <p>Rating: {{mouse.rating}}</p>
                <p>{{mouse.detail_1}}</p>
                <p>{{mouse.detail_2}}</p>
                <p>Price:<span id="dollar-sign"> $</span>{{mouse.price}}</p>
                <form action="/create-checkout-session/{{this.id}}" method="POST">
                    <button type="submit" id="checkout-button" class="shop-btn">Checkout</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>